.page-label {
    position: relative;
    text-align: left;
    font-size: xx-large;
    left: 0px;
}

.page-subtitle {
    position: relative;
    text-align: left;
    font-size: x-large;
    left: 0px
}

.card-list {
    padding-left: 40px;
}

.button-pair{
    padding-left:110px;

}

.add-row {
    text-align:right;
    width:fit-content;
    padding-left: 70px;
    max-width:300px;
}

.add-button {

    background-color: #28bb04;
    border-width: 2px;
    border-radius: 10px;

}

.update-button {

    background-color: #3683f6;
    border-width: 2px;
    border-radius: 10px;

}



.delete-button {
    background-color: #f63636;
    border-width: 2px;
    border-radius: 10px;
    margin-right: 5px;
}
.edit-button {
    background-color: #3683f6;
    border-width: 2px;
    border-radius: 10px;
}

.card-header-1 {
    background-color: blue;
    height:100px;
}
.card-header-2 {
    background-color: red;
    height:100px;
}
.card-header-3 {
    background-color: orange;
    height:100px;
}
.card-header-4 {
    background-color: purple;
    height:100px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.w-250 {
    width: 250px;
    flex-shrink: inherit;
    height: 300px;
    min-height: 150px;
}

.card-pad {
    padding: 40px;
}

.card-title {
    font-size: x-large;
    text-align: left;
    color: #7070ff;
}

.card-text {
    font-size:small;
    text-align: left;
    color: #282828;
}